.table-user {
    width: 100%;
    border-collapse: collapse;
}
.table-user__thead {
    background: rgba(128, 128, 128, 0.7);
}
.table-user__tr {
    height: 50px;
}
.table-user__th {
    color: #fff;
    text-transform: uppercase;
    padding: 0px 10px;
    white-space: nowrap;
    cursor: pointer;
}
.table-user__tr--td {
    height: 40px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
.table-user__tr--td:hover {
    background-color: #2196F3;
    color: #fff;
    font-weight: bold;
}